@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}

<div class="container my-1">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-11 col-sm-12">
            <div class="card border-1 shadow">
                <div class="card-header bg-primary text-light text-center">
                    <h1 class="fw-bold">Manage your account</h1>
                    <h4 class="fw-medium">Change your account settings</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-9 ml-3">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
