@model int

<div class="container row my-4">
    <div class="card col-8 text-center">
        <div class="card-body bg-primary bg-gradient py-2">
            <h1 class="text-secondary text-center">Order placed successfully!</h1> 
        </div>
        <div class="card-body text-center">
            <div class="text-center">
                Your Order Number is: @Model <br /><br />
                <img src="/images//lawn_leaf.jpg" width="60%" />
            </div>
            <div class="text-center" style="color:maroon">
                <br />
                Your order has been placed successfully!
                <br />
            </div>
        </div>
    </div>
</div>
