@model int

<div class="container py-3">
    <div class="row w-100 justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow rounded-5">
                <div class="card-header bg-primary py-2">
                    <div class="row">
                        <div class="col-12 text-center text-light">
                            <h2 class="text-light">Order placed successfully!</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center mb-3">
                        <div class="mb-3">
                            <span class="text-secondary">Your Order Number is:</span>
                            <h3 class="text-primary">@Model</h3>
                        </div>
                        <div class="my-3 d-flex justify-content-center">
                            <div class="bg-success rounded-circle p-3" style="width: 100px; height: 100px; display: flex; align-items: center; justify-content: center;">
                                <i class="bi bi-check text-white" style="font-size: 3rem;"></i>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="alert alert-success">
                                <h4 class="mb-3">Thank you for your purchase!</h4>
                                <p>Your order has been placed successfully and is now being processed. You will receive a confirmation email shortly with all the details.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row text-center justify-content-center">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary text-uppercase w-25">BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
